body {
  font-family: Arial, Helvetica, sans-serif;
}
.date {
	margin: auto;
	max-width: 400px;
}
/*div { border: 1px solid red }*/
.dateHeader{
	background-color: #FDD;
	float:left;
	font-size: 1.25em;
	font-weight: bold;
	padding: 5px 10px 15px;
	width: 100%;
}
.time h3 {
	text-align: right;
}
.hideButton {
    text-align:right;
}
.mainDetails p {
	margin-top: 1em;
}
.mainDetails p.contactInfo {
	margin-bottom: 0.25em;
}
.mainDetails p.email {
	margin-top: 0.25em;
}
.otherButtons a {
	text-decoration: none;
}
.navbar-brand {
    padding: 2px 15px;
}
#navbar {
    background-color: #F90;
}
a.expandDetails {
    color:inherit;
}
